.container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url('../../public/images/background.png') 50%  50% no-repeat;
}

.mainContainer{
  max-width: 1080px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1rem;

  footer{
    p{
      margin-top: .5rem;
      font-size: .8rem;
    }
  }
}

.walletContainer{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  .btn{
    background-color: black;
    border-radius: .75rem;
    border: 2px solid rgb(132, 0, 255);
    transition: all 0.2s;
    color: white;
    
    &:hover{
      transform: scale(1.05);
    }
  }

  .btnChain{
    width: 140px;
    height: 40px;
    background-color: black;
    border-radius: .75rem;
    border: 2px solid rgb(132, 0, 255);
    transition: all 0.2s;
    color: white;
    
    &:hover{
      transform: scale(1.05);
    }
  }

}

.claimContainer{
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoContainer{
  width: 100%;
  margin: 1rem;
  padding: 2rem;
  max-width: 500px;
  border-radius: 1rem;
  height: 100%;
  max-height: 600px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #000000;
  box-shadow: 0px 2px 26px rgba(0, 0, 0, 0.14);

  p{
    margin-top: 1rem;
    text-align: left;
    font-weight: 600;
    font-size: 1.1rem;
    height: 30px;
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    text-overflow: ellipsis;
  }

  span{
    color: rgb(196, 196, 196);
    text-align: left;
    width: 100%;
    height: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.media{
  border-radius: 1rem;
  max-width: 300px;
  max-height: 300px;
}

.mintContainer{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;

  input{
    width: 70px;
    height: 40px;
    text-align: center;
    padding: 1rem;
    border: 4px solid white;
    border-radius: .5rem;
    background-color: transparent;
    color: white;
    font-weight: 600;
  }

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
  }

  button{
    width: 140px;
    margin-left: 1rem;
    height: 40px;
    background-color: #41FF67;
    border-radius: .5rem;
    font-weight: 500;
    border: none;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &:hover{
      transform: scale(1.05);
    }
  }
}

@media (max-width: 399px){

  .infoContainer{
    max-height: 500px;
  }
  
  .media{
    border-radius: 1rem;
    max-width: 230px;
    max-height: 230px;
  }
}

@media (max-width: 299px){

  .infoContainer{
    max-height: 480px;
  }
  
  .media{
    border-radius: 1rem;
    max-width: 180px;
    max-height: 180px;
  }
}



//Loading

.loading{
  width: 50%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p{
    margin-top: 3rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
  }
}

$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
0% { transform: rotate(0deg); }
100% { transform: rotate(270deg); }
}

.path {
stroke-dasharray: $offset;
stroke-dashoffset: 0;
transform-origin: center;
animation:
  dash $duration ease-in-out infinite, 
  colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
0% { stroke: #4285F4; }
25% { stroke: #DE3E35; }
50% { stroke: #F7C223; }
75% { stroke: #1B9A59; }
100% { stroke: #4285F4; }
}

@keyframes dash {
0% { stroke-dashoffset: $offset; }
50% {
 stroke-dashoffset: $offset/4;
 transform:rotate(135deg);
}
100% {
 stroke-dashoffset: $offset;
 transform:rotate(450deg);
}
}


